<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- custom stylesheets -->
    <link href="https://builder.yaas.io/public/css/styles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="https://builder.yaas.io/public/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://builder.yaas.io/public/js/vendor/underscore/underscore.js"></script>
    <script src="https://builder.yaas.io/public/js/vendor/angular/angular.js"></script>
    <script src="https://builder.yaas.io/public/js/vendor/restangular/dist/restangular.min.js"></script>
    <script src="https://builder.yaas.io/public/js/builder.js"></script>
    <script src="https://builder.yaas.io/public/js/builder_editors_v2.js"></script>

    <script src="./controller/listCtrl.js"></script>
    <title>The Simple One</title>
</head>

<body ng-app="defaultListApp" class="body-container">
    <div ng-controller="defaultListCtrl" ng-cloak>

        <div class="navbar navbar-default y-navbar-centered y-navbar-lg">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div class="y-toolbar">
                        <div class="y-toolbar-cell">
                            <button class="btn-subordinate btn navbar-btn">
                 <span class="hyicon hyicon-back"></span> <span class="hidden-xs">Back</span>
               </button>
                        </div>
                    </div>
                </div>
                <div class="y-navbar-center">
                    <div class="y-navbar-center-content">
                        <h1>Product comments</h1>
                    </div>
                </div>
                <div class="navbar-right">
                    <div class="y-toolbar">

                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-center"></h2>
        <div class="panel panel-primary panel-border">
            <div class="panel-body">
                <ul class="dataCards">
                    <li class="dataCard" ng-repeat="item in products" ng-click="selectProduct(item)">
                        <div class="cardRow cardRowClickable">
                            <p class="primaryData">
                                {{item.name}}
                            </p>
                            <p class="secondaryData">
                                {{item.description}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show="!!selectedProduct.id">
            <h2 class="text-center">{{selectedProduct.name}}</h2>
            <div class="panel panel-primary panel-border">
                <div class="panel-body">
                    <ul class="dataCards">
                        <li class="dataCard" ng-repeat="comment in comments">
                            <div class="cardRow cardRowClickable">
                                <p class="primaryData">
                                    {{comment.text}}
                                </p>
                                <p class="secondaryData">
                                    {{comment.author}}
                                </p>
                                <p class="secondaryData">
                                    {{comment.date}}
                                </p>
                                <button class="btn btn-xs btn-danger" ng-click="deleteComment(comment)">
                                    DELETE
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>

</html>